


<!DOCTYPE html><html class=''>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" type="text/css" href="css/chat.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>


<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<style class="cp-pen-styles"> </style>



</head><body>


<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>Mike Ross</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" disabled/>
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" disabled/>
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" disabled/>
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
		<ul>
			<% for(var i=0; i < practices.length; i++) { %>
    		<%if (practices[i].username != current_user.username) { %>
			<li class="contact" user_id="<%= practices[i]._id %>">
				<div class="wrap">											
					<!-- <span class="contact-status online"></span> -->
              <%if (practices[i].image) {%>
              <img src="<%= practices[i].image%>" alt="" />

              <% } else{ %>  
              <i class="fas fa-user-circle fa-2x"></i>
              <%}%>

					<div class="meta">
						<p class="name"><%= practices[i].username %></p>
						<p class="preview"> </p>
					</div>
				</div>
			</li>
			 <% } %>   
  		<% } %>
			
		</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">

		<div class="contact-profile">
			<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
			<p> </p>
      <span></span>
			<div class="social-media">
        <a href="/logout">logout</a>
        <i class="fa fa-check"></i>
        <i class="fas fa-check-double"></i>
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>

		<div class="messages">
			<ul>
				<li class="sent"></li>

				<li class="replies"></li>
			</ul>

		</div>
		<div class="message-input">
			<div class="wrap">
			<input id = "inputField" type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="js/chat.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script>

  var userto_id;
  
  var socket = io();

  socket.on("connect", () => {              //on => data recive  emit=>data send
    console.log(socket.id); 
    userInfo = {"userid" : "<%=current_user._id%>", "socketid": socket.id}
    socket.emit("userData", userInfo);
    $("#profile").find("img").attr("src","<%=current_user.image%>");
    $("#profile").find("p").html(`<%=current_user.username%>`);
    $(".message-input").hide();
    $(".contact-profile").find("img").hide();
    $(".social-media").find("i").hide();
  });

//onclick
  $( ".contact" ).on( "click", function() {
  	$( this ).addClass("active").siblings().removeClass('active');;
    userto_id =  $( this ).attr("user_id");
    userto_name =  $( this ).find(".name").text();
    userto_img = $(this).find("img").attr("src");
    $(".contact-profile").find("img").show();
    $(".social-media").find("i").show();

    $(".message-input").show();
    $(".contact-profile").find("img").attr("src", userto_img);
    $(".contact-profile").find("p").html(`${userto_name}`);
    $("#profile").find("p").html(`<%=current_user.username%>`);
    socket.emit("fetchMsg",{user: "<%=current_user._id%>", userto:userto_id});
  });

// inputField = document.getElementById("#inputField");
// inputField.addEventListener("keyup", () => {
//   alert(inputField.value());
//   // socket.emit("typing", {
//   //   isTyping: inputField.value.length > 0,
//   //   userName: <%=current_user.username%>,
//   // });
// });
var doneTypingInterval = 300;
var typingTimer;

$("#inputField").on("keyup",function(){
  socket.emit("stoptyping", {
    usertoid: userto_id,    
    userid : "<%=current_user._id%>",
  });
})

socket.on("Showtyping", function (data) { 
  clearTimeout(typingTimer);
  $(".contact-profile").find("span").html(`${userto_name} is typing...`);
});

$("#inputField").on('keydown', function () { 
  socket.emit("typing", {
    usertoid: userto_id,    
    userid : "<%=current_user._id%>",
  });
}); 

socket.on("stop_show_typing", function (data) { 
  typingTimer = setTimeout(doneTyping, doneTypingInterval); 
});

function doneTyping () {
$(".contact-profile").find("span").html("online");

}


function convertTime(time){
  var newTime;
  var hours = time.getHours();
  var minutes = time.getMinutes();
  if (hours >=12){
    newTime = hours % 12 || 12;
    return (`${newTime}:${minutes} PM`);
  } 
  else{
      return (`${hours}:${minutes} AM`);
    }

}



socket.on("AllMessages", (data)=>{
   var last_seen = data.status;
	 var reply = data.rep;


    if (last_seen != "online"){
      time = new Date(last_seen);
      last_seen = convertTime(time);
      last_seen = (`last seen at : ${last_seen}`)
      $(".contact-profile").find("span").html(`${last_seen}`);
    }

    if(last_seen == "online"){
      $(".contact-profile").find("span").html(`${last_seen}`);
    }

    if (data.status === undefined){
    $(".contact-profile").find("span").html("offline");
    }

  $(".messages ul").html("");             
  for(var i=0; i<reply.length; i++){

  time = new Date(reply[i].time);
  new_time = convertTime(time);
	
	if (reply[i].from == userto_id){ 
    message = reply[i].message;

    	if($.trim(message) == '') {
    		return false;
    	}

	$(`<li class="replies"><img src="${userto_img}" alt="" /><p>  ${message} </p><div><span> ${new_time} </span></li>`).appendTo($('.messages ul'));
		$('.contact.active .preview').html('<span>You: </span>' + message);
  }

  else{
    message = reply[i].message;
    if($.trim(message) == '') {
      return false;
    }

    if (reply[i].read){
      seen = "fas fa-check-double";  
    }
    else{
      seen = "fa fa-check"; 
    }

  $('<li class="sent"><img src="<%=current_user.image%>" alt="" /><p>' + message + '</p><i class="' +seen +' '+reply[i].msgReadId '" ></i><span>' + new_time + '</span></li>').appendTo($('.messages ul')); 
  
  $('.contact.active .preview').html('<span>from: </span>' + message);
  
  }
}
  height = document.getElementsByClassName("messages")[0].scrollHeight;
  $(".messages").animate({ scrollTop: height }, "fast");
})

socket.on("ServerResponse", (data)=>{
 message = data.msg;
 msg_id = data.msgid;
  if($.trim(message) == '') {
    return false;
  }
  $(`<li class="replies"><img src="${userto_img}" alt="" /><p>${message}</p><span> ${data.time} </span></li>`).appendTo($('.messages ul'));
  $('.contact.active .preview').html('<span>from: </span>' + message);
  height = document.getElementsByClassName("messages")[0].scrollHeight;
  $(".messages").animate({ scrollTop: height }, "slow");

  socket.emit("msgSeen",{"msgid":msg_id, "msgreadid":data.msgreadid, "seen":true});
})

socket.on("readMsg", (data)=>{
  console.log(data);  
  console.log(msg_read_id);
  console.log(data.seen);
  $("." + msg_read_id).attr("class", "fas fa-check-double");

  // msg_id = data.msgid;
  // massage_read_id = data.msgreadid;
  // console.log(msg_id);
  // console.log(message_read_id);
  

})



 function newMessage() {
	message = $(".message-input input").val();
	if($.trim(message) == '') {
		return false;
	}
  msg_read_id = Math.random().toString(36).substr(2, 25);
  time = new Date();  
  new_time = convertTime(time);
	$('<li class="sent"><img src="<%=current_user.image%>" alt="" /><p>' + message + '</p><i class="fa fa-check ' + msg_read_id + '""></i><span>' + new_time + '</span></li>').appendTo($('.messages ul'));

	$('.message-input input').val(null);
	$('.contact.active .preview').html('<span>You: </span>' + message);
  height = document.getElementsByClassName("messages")[0].scrollHeight;
	$(".messages").animate({ scrollTop: height }, "fast");
    socket.emit("myMessage", {"message": message, "userid": "<%= current_user._id%>", "userto": userto_id, "time":new_time, "msgreadid": msg_read_id});       
	
};



$('.submit').click(function() {
  newMessage();
});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
    newMessage();
    return false;
  }
});
</script>


</body></html>